.root{
    primary-text-color:#757575;
    primary-title-color:#212121;
    accent-color:#2196f3;
    primary-white-color:#ffffff;
    footer-background-color:#2f303a;
    secondary-white-color:#f5f4fa;
    main-black-color:#000000;
    footer-links-color:rgba(255, 255, 255, 0.6);
    &color: #188ce8;#47,48,58,0.8
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.head{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}
.body{
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.hero{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    }
.button:hover;
.button:focus;{
    background: #2196f3;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

class="page-header"
class="logo
class="site-nav"
class="contacts-nav"
class="social-links"
class="title"
class="hero"